<%  provide(:title) 
	provide(:city, "Test")
%>
<div class="center jumbotron">
	<% if signed_in? %>
		<div class="row">
		    <aside class="col-lg-4">
		      <section class="homeSide">
		        <%= render 'shared/user_info' %><br>
		      </section>
		      <section>
		      	<%= render 'shared/parent_comment_form' %>
		      </section>
		    </aside>
		  </div>
	<% else %>
		<h1>Welcome to <%= yield(:city) %> Youth Sports</h1>
		<h2>Register your children for sports, view schedules and communicate with parents and coaches!!</h2>
		<%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>

