<% provide(:class, @sport.name.downcase)%>
<div class="jumbotron register text-center">
	<h2 class="text-center"><%= "Select a Child To Register For #{@sport.name}" %></h2>
	<ul>
		<% if current_user.children.any? 
			@children.each do |child| %>
				<li><%= link_to "#{child.firstName} #{child.lastName}", {controller: "children", action: "register_complete", sport_id: @sport.id, child_id: child.id}, method: 'post', class: "btn btn-lg btn-primary" %></li>
			<% end %>
		<% end %>
	</ul>
</div>