<% @messages.each do |message| %>
<li>
	<span class="parentName"><%= "#{Parent.find(message.parent_id).firstName} #{Parent.find(message.parent_id).lastName}" %></span>
	<span class="body"><%= message.body %></span>
	<span class="timestamp text-muted">Posted <%= time_ago_in_words(message.created_at) %> ago</span>

</li>
<% end %>
