@import "bootstrap";

/* mixins vars etc */

$primary: #09f;
$secondary: #66FF33;
$jumbotron_color: #333;
$background: #333;

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border_radius{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

@mixin light_shadow{
  -moz-box-shadow: 0 0 5px #CCC;
  -webkit-box-shadow: 0 0 5px #CCC;
  box-shadow: 0 0 5px #CCC;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.btn{
  color: white;
}

.alert{
  font-size: 1.4em;
}

.alert-danger{
  font-size: 1.2em;
  padding: 5px;
  background-color: #b94a48;
  color: white;
  margin: 5px;
}

.hidden{
  display: none;
}

.formLabel{
  color: #ccc;
  font-size: 1.8em;
  text-align: left;
  font-weight: 100;
  margin-top: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.6em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  margin-top: 3px;
  font-weight: 200;
  color: #CCC;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $primary;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  font-size: 1em;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* Classes and IDs */

.center {
  h1{
    margin-bottom: 10px;
    color: $primary;
  }
}

.jumbotron{
  background-color: $jumbotron_color;
  h2{
    color: $primary;
    font-size: 3em;
    font-weight: 100;
  }
  a{
    color: $secondary;
  }
  p{
    color: #BBB;
  }
}

#footer-img{
  max-height: 40px;
  max-width: 40px;
}

#logo{
  font-size: 2em;
  color: $primary;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: #fff;
      text-decoration: none;
  }
}

/* Parent Show */

#parentHome{
  padding: 20px;
  padding-left: 30px;
  h1{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 0px;
    color: $secondary;
  }
  h2{
    font-size: 1.6em;
    letter-spacing: 0px;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: 200;
    color: #CCC;
  }
  ul{
    list-style: none;
    font-size: 1.3em;
    color: $primary;
    li a{
      color: #BBB;
    }
  }
  #parentSide{
    max-width: 40%;
    .text{
      color: $primary;
    }
    .main{
      margin-top: 10px;
      color: white;
    }
  }
  #childList{
    float:left;
    padding: 15px;
    background-color: black;
    min-width: 18%;
    @include light_shadow;
    @include border_radius;
   ul{
    padding: 0px;
   }
  }
  #parentMain{
    width: 65%;
    margin-top: 100px;
    h1{
      color: $primary;
    }
    #newsFeed{
      border: 1px solid #CCC;
      padding: 20px;
      @include border_radius;
      ul{
        li{
          margin-bottom: 20px;
          border-bottom: 1px solid $primary;
          padding: 10px;
        }
      }
      .timestamp{
        font-size: .7em;
      }
      .body{
        color: white;
        letter-spacing: 1px;
        display: block;
      }
    }
  }
}

/* New Parent */

.formContainer{
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  input{
    font-size: 1.2em;
  }
  input[type='radio']{
    margin-left: 20px;
  }
  .btn{
    margin-top: 20px;
  }
}

.error{
  color: red;
  font-weight: 100;
  font-size: 1.8em;
}

/* Parent List */

.showAll{
  h2{
    margin-bottom: 0px;
  }
  ul{
    list-style: none;
  }
  .pagination{
    margin: 10px;
  }
  .centerContainer {
    max-width: 800px;
  }
  .listItem{
    color: #CCC;
    font-size: 2em;
    border-bottom: 1px solid $primary;
    max-width: 90%;
    p{
      margin: 0px;
      font-size: 1em;
      a{
        color: #CCC;
      }
      .blueLink{
        color: $primary;
        font-size: .5em;
      }
      .contactLink{
        font-size: .5em;
        color: $primary;
        margin-left: 15px;
      }
    }
    .contactInfo{
      list-style: square;
      margin-bottom: 15px;
      li{
        font-size: .7em;
        font-weight: 200;
        color: $secondary;
      }
    }
  }
}

/* Static Home */

.homeSide{
  color: #CCC;
  border-bottom: 1px solid #888;
  margin-bottom: 10px;
  padding-bottom: 10px;
  a{
    color: $primary;
  }
  .gravThumb{
    width: 52px;
    height: 52px;
  }
}


/* Modal */

.modal{
  .modal-body{
    color: black;
    h1, h2, h3, h4, h5, h6{
      color: black;
      font-weight: 200;
    }
    ul{
      li{
        margin: 20px;
        span{
          list-style: default;
          color: black;
          font-size: 1.2em;
          margin-bottom: 20px;
          font-weight: 200;
          margin-top: 10px;
        }
        a{
          margin-top: 0px;
          color: white !important;
        }
        .btn{
          margin-top: 0px;
        }
      }
    }
  }
}

.manage{
  background-color: $background;
  max-width: 100%;
  @include border_radius;
  h1{
    color: $primary;
    font-weight: 200;
  }
  .dateField{
    max-width: 300px;
  }
  .numField{
    max-width: 50px;
    margin-left: 20px;
  }
}





